html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: .5em;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: .25em;
}

input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: blueviolet;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  padding: .25em;
}

button:hover {
  outline-width: 1px;
  outline-style: solid;
  outline-color: blueviolet;
}

.invalidUrl {
  border-color: red;
}
.invalidUrl:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}