html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: xx-large;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0.8em;
}

input {
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5em;
  font-size: large;
  margin-top: 1.5em;
  min-width: 30em;
  min-height: 4em;
}

@media (min-width: 320px) and (max-width: 480px) {
  input {
    min-width: 100%;
    min-height: 4em;
  }
}

input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: blueviolet;
}

button {
  border: 3px solid black;
  font-size: xx-large;
  border-radius: 15px;
  padding: 0.7em;
  background-color: rgb(66, 123, 95);
  color: black;
}

button:hover {
  background-color: blueviolet;
  transition: 0.4s;
}

.invalidUrl {
  border-color: red;
}
.invalidUrl:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}

.container {
  margin-top: 25vh;
  align-items: center;
}
